*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

body {
  padding: 2rem;
  background-color: #212121;
}

h1 {
  text-transform: uppercase;
  font-family: "Commissioner", sans-serif;
  font-weight: 200;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
}